@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poopins', sans-serif;
    list-style: none;

}

.container {
    text-align: center;
    color: black;
}

body {
    background-image: url(carta.jpg);
    background-size: cover;
    min-height: calc(100vh - 120px);
    margin-bottom: 120px;
}

p {
    margin: 80px;
    font-size: 17px;
}

h4 {
    margin: 85px;
}